@page "/"
<div class="row">
<div class=" col-md-2"></div>
<div class="col-md-8">
<div class="card">
    <div class="card-header bg-primary border border-primary rounded">
        <h1 class="text-center text-white"><strong>Sistema de Control de Vacunas</strong></h1>
    </div>
    <div class="card-body text-justify">
        <p>
            Esta es una aplicacion creada con el objetivo del control del registro de vacunas suministradas.
        </p>
    </div>
</div>
</div>
<div class=" col-md-2"></div>
</div>
